a.navbar-brand {
    font-family: 'Press Start 2P' !important;
}

.navbar {
    background-color: #e3f2fd;
    box-shadow: 2px 2px 5px green;
}

#main-page-singin {
    box-shadow: 0 -2px 2px -2px green;
}
#main-page-info {
    background-size: cover;
    position: relative;
    min-height: 500px;
    background: url('../Resource/main-page-info.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    box-shadow: 0px 1px 1px green;
}

#signin-section {
    background: url('../Resource/signin-page.jpeg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000px;
}


.home-inner {
    padding-top: 100px;
}



.singin-icon {
    color: #ffde1c;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

.card-singin {
    color: #ffde1c !important;
    background-color: #ffde1c !important;
}

#user_profile{
    padding-top:50px;
}

.loader {
	height: 700px;
	background-size: cover;
	background: url('https://loading.io/spinners/coolors/lg.palette-rotating-ring-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	opacity: .8;
}